#goldDisplay {
	float: right;
    font-size: 32px;
    color: white;
	width: 8%;
	border-radius: 0px;
	font-family: Arial;
	font-weight: bold;
	background: #8f9091;
	padding: 10px 30px 10px 18px;
	border: solid #ffffff 2px;
}

#buyMiners {
	display: inline-block;
    font-size: 18px;
    color: white;
	width: 8%;
	border-radius: 0px;
	font-family: Arial;
	background: #8f9091;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
}

#buyDrills {
	display: inline-block;
    font-size: 18px;
    color: white;
	width: 8%;
	border-radius: 0px;
	font-family: Arial;
	background: #8f9091;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
}


.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #292929;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn:hover {
  background: #5e5e5e;
  text-decoration: none;
}

html, body {
	background: white;
}

h1{
	position:relative;
	min-height: 30px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	font-size: 18px;
	font-family: "Arial", sans-serif;
	border-radius: 3px;
	background-color: #f8f8f8;
	border-color:#e7e7e7;
	color: #777;
	padding: 15px 10px 10px 20px;
	font-weight: lighter;
}

#version{
font-size: 85%;
}

body {font-family: "Lato", sans-serif;}

/* Style the VTab */
div.VTab {
  overflow: hidden;
	width: 80%;
	display: inline-block;
	border-bottom: 1px solid;
	border-bottom-color: #ddd;
}

/* Style the buttons inside the VTab */
div.VTab button {
    background-color: inherit;
    float: left;
		border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.VTab button:hover {
    background-color: #ddd;
}

/* Create an active/current VTablink class */
div.VTab button.active {
		color:  #ca0f0f;
}

/* Style the VTab content */
.VTabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in VTabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
