.rNum {
float: right;

}


.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #292929;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn:hover {
  background: #5e5e5e;
  text-decoration: none;
}

html, body {
	background: white;
}

h1{
	position:relative;
	min-height: 30px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	font-size: 18px;
	font-family: "Arial", sans-serif;
	border-radius: 3px;
	background-color: #f8f8f8;
	border-color:#e7e7e7;
	color: #777;
	padding: 15px 10px 10px 20px;
	font-weight: lighter;
}

#version{
font-size: 85%;
}

body {font-family: "Arial", sans-serif;}

/* Style the HTab */
div.HTab {
	border-collapse: collapse;
  overflow: hidden;
	width: 80%;
	display: inline-block;

}

/* Style the buttons inside the HTab */
div.HTab button {
    background-color: inherit;
    float: left;
		border:none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
		border-bottom: 1px solid;
		border-bottom-color: #ddd;
}

/* Change background color of buttons on hover */
div.HTab button:hover {
    background-color: #F5F5F5;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

}

/* Create an active/current HTablink class */
div.HTab button.active {
		color:  #ca0f0f;
		border: 1px solid;
		border-color: #ddd;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 0px solid;
		border-bottom-color: white;
}

/* Style the HTab content */
.HTabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in HTabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Style the tab */
div.VTab {
	float: left;
	border-collapse: collapse;
  overflow: hidden;
	width: 18.5%;
	display: inline-block;
}

/* Style the buttons inside the tab */
div.VTab button {
    display: block;
		background: none;
    color: black;
    padding: 22px 16px;
    width: 100%;
		border: none;
    border-bottom: 1px #ddd solid;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.VTab button:hover {
    background-color: #f5f5f5;
}

/* Create an active/current "tab button" class */
div.VTab button.active {
    background-color: #f5f5f5;
}

/* Style the tab content */
.VTabcontent {
		float: left;
		position: relative;
		display:inline-block;
    padding: 0px 12px;
    border: none;
    width: 70%;
    height: 300px;
}
